body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.main {
    text-align: center;
    padding: 40px;
}

.product {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

button {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

